.react-datepicker{
        background-color: white;
        padding: 10px; 
           width: 300px; 
    
           border:none

}

.react-datepicker-wrapper{
    background-color: red;
    width: 250px;
}

.react-datepicker__input-container{
    width: 240px;
        background-color: rgb(8, 215, 60);

}
.react-datepicker-popper{ 
    background-color: rgb(223, 186, 6);
        width: 240px;
        color:white;
}
.react-datepicker-triangle{ 
    background-color: rgb(4, 4, 4);
        width: 240px;
        color:white;
}

.react-datepicker__header{ 
    background-color:white;
              /* border: solid 1px #03479a; */
 font-weight: 300;
 font-size: 11px;
        padding: 10px;
        border: none;
        /* border: #3992ff; */

}

.react-datepicker__current-month{ 
    /* background-color: rgb(223, 186, 6); */
        width: 240px;
         font-size: 13px;
        /* color:white; */
         font-weight: 400;
}

.react-datepicker__day-names{ 
            border-bottom: solid 1px rgb(212, 212, 232);
     
    
}

.react-datepicker__day-name{ 
    /* background-color: rgb(223, 186, 6); */
       padding: 4px;
        /* color:white; */

}

.react-datepicker__navigation{ 

        width: 20px;
     background-color:white;
 
             border: solid white;}
 
.react-datepicker__navigation--next{ 

        width: 40px;
     background-color:rgb(255, 255, 255);
     border:none
}

.react-datepicker__navigation-icon{     background-color:rgb(17, 238, 238);
     border:none}

.react-datepicker__navigation-icon--previous{     background-color:rgb(134, 41, 41);
     border:none}

     .react-datepicker__day--selected{
    background-color:rgb(46, 100, 237);

    border: solid white;
    border-radius: 25px;}

    .react-datepicker__day--today{
    background-color:rgb(2, 187, 79);

    border: solid white;
    border-radius: 25px;}

    .react-datepicker__time-container{
      border: solid white;

    } 